.footer { 
    background-color: #757575;
    color: #fff;
    padding: 3em;
    text-align: center;
    width: 100%;         
}   

.list_footer {
    display: flex;
    justify-content: center;
    list-style-type: none;                 
}

.list_footer li {
    margin-right:1em;  
    font-size: 30px;  
}

.list_footer path{
    cursor: pointer;
    color: #f2a340;        
}

.list_footer li path:hover {
    color: #474646;
} 

.copy_right{
    margin-top: 2em;
}

.copy_right span{

    font-weight: bold;
    color: #f2a340;
}



