.btn {
    background-color: #f2a340;
    border: 2px solid #c28008;
    color: #555454;
    text-decoration: none;
    padding: .5em 1em;
    transition: 0.5s;
    cursor: pointer;
    font-size: 15px;
}

.btn:hover {
    background-color: #c28008;
    border-color: #c28008;
}