.contato_container{
    width: 100%;
    display: flex;
    /* lista com colunas */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.contato_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.contato_container h1 span{
    color: #f2a340; 
    padding: 0 .2em;
    background-color: #757575;
}