.project_details{
    padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
    margin-bottom: .5em;
}

.project_details h1{
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
}

.project_details span{
    font-weight: bold;
}

.details_container, 
.service_form_container{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    /* PASSOU DE 100% UMA NOVA LINHA É CRIADA  */
    flex-wrap: wrap;
}

.btn {
    background-color: #f2a340;
    border: 2px solid #c28008;
    color: #555454;
    text-decoration: none;
    padding: .5em 1em;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    font-size: 15px;
}

.btn:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.project_info{
    width: 100%;
}